<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fotoTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A04CA861C2E6FC000CA2C6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A04CA9F1C2E6FC100CA2C6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A04CAAA1C2E6FC100CA2C6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
